:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background: linear-gradient(380deg, #1FA8DC 0%, #FEB954 100%);
  background-attachment: fixed;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background: linear-gradient(380deg, #1FA8DC 0%, #FEB954 100%);
  background-attachment: fixed;
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
